body {
  background-color: black;
}
.back-img {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Permite mejor ajuste en móviles */
  padding: 2rem; /* Espaciado adicional */
}


.neon-btn {
  background-color: #39ff14;
  color: #000;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 40px #39ff14;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  width: 100%;
  max-width: 300px;
}

.neon-btn:hover {
  background-color: #5dff5d;
  box-shadow: 0 0 15px #5dff5d, 0 0 25px #5dff5d, 0 0 45px #5dff5d;
  color: #000;
  transform: scale(1.05);
}

.neon-btn-logout {
  background-color: #39ff14;
  font-weight: bold;
  font-size: 0.75rem;
  /* Tamaño de texto más pequeño */
  padding: 0.4rem 1rem;
  /* Menos espacio interno */
  border-radius: 30px;
  /* Acorde al tamaño reducido */
  box-shadow: 0 0 6px #39ff14, 0 0 12px #39ff14, 0 0 20px #39ff14;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.neon-btn-logout:hover {
  background-color: #5dff5d;
  box-shadow: 0 0 10px #5dff5d, 0 0 15px #5dff5d, 0 0 25px #5dff5d;
  transform: scale(1.05);
}


.custom-gym-img {
  width: 50vw; /* En pantallas grandes, ocupará la mitad del ancho */
  height: 91vh; /* Siempre ocupará el alto completo */
  object-fit: cover;
  transition: box-shadow 0.3s ease;
  box-shadow:
    -2px 0 5px #00ff00,
    2px 0 5px #00ff00,
    0 -2px 5px #00ff00;
}

.navCss {
  background-color: black;
  box-shadow: 0 3px 10px #00ff00;
  animation: glowBorder 2s infinite alternate;
}

.footerCss {
  background-color: black;
  box-shadow:
    0 -2px 5px #00ff00;  /* arriba */
  position: fixed;         /* Se "sale" del flujo como el navbar */
  bottom: 0;               /* Pegado al borde inferior */
  width: 100%;             /* Que cubra todo el ancho */
  z-index: 10;             /* Para que esté por encima del contenido */
  
}

@keyframes glowBorder {
  from {
    box-shadow: 0 3px 5px #009900;
  }

  to {
    box-shadow: 0 3px 15px #00ff00;
  }
}

.startBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  box-shadow: 0 0 5px 2px #00ff00;
  /* Glow verde uniforme alrededor */
  transition: box-shadow 0.3s ease;
  align-self: center;
  padding: 2%;
}

.loginPage {
  background-color: black;
}
/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  .custom-gym-img {
    width: 100vw; /* En móviles, ocupa todo el ancho */
    height: 60vh; /* Reducimos la altura para evitar cortes */
  }
}
