.back-img {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10%;
  justify-content: space-between;
}

.neon-btn {
  background-color: #39ff14;
  color: #000;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 50px;
  box-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14, 0 0 40px #39ff14;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.neon-btn:hover {
  background-color: #5dff5d;
  box-shadow: 0 0 15px #5dff5d, 0 0 25px #5dff5d, 0 0 45px #5dff5d;
  color: #000;
  transform: scale(1.05);
}

.neon-btn-logout {
  background-color: #39ff14;
  font-weight: bold;
  font-size: 0.75rem;
  /* Tamaño de texto más pequeño */
  padding: 0.4rem 1rem;
  /* Menos espacio interno */
  border-radius: 30px;
  /* Acorde al tamaño reducido */
  box-shadow: 0 0 6px #39ff14, 0 0 12px #39ff14, 0 0 20px #39ff14;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.neon-btn-logout:hover {
  background-color: #5dff5d;
  box-shadow: 0 0 10px #5dff5d, 0 0 15px #5dff5d, 0 0 25px #5dff5d;
  transform: scale(1.05);
}


img {
  width: 55%;
  height: auto;
  transition: box-shadow 0.3s ease;

  /* Sombra solo hacia arriba, izquierda y derecha */
  box-shadow:
    -2px 0 5px #00ff00,  /* izquierda */
    2px 0 5px #00ff00,   /* derecha */
    0 -2px 5px #00ff00;  /* arriba */
}



.navCss {
  background-color: black;
  box-shadow: 0 3px 10px #00ff00;
  animation: glowBorder 2s infinite alternate;
}

.footerCss {
  background-color: black;
}

@keyframes glowBorder {
  from {
    box-shadow: 0 3px 5px #009900;
  }

  to {
    box-shadow: 0 3px 15px #00ff00;
  }
}

.startBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  padding: 2%;
  box-shadow: 0 0 5px 2px #00ff00;
  /* Glow verde uniforme alrededor */
  transition: box-shadow 0.3s ease;
}

.loginPage {
  background-color: black;
}